	@import url(https://fonts.googleapis.com/css?family=Poiret+One);
    @import url(https://fonts.googleapis.com/css?family=Megrim);
  
  h1 {
    text-align: center;
    font-family: 'Megrim', cursive;
    font-size: 30px;
    color: #fff;
    padding-top: 10px;
 
}
  h2 {
    text-align: center;
    font-size: 40px;
}
  h3 {
    color: white;
    font-size: 15px;
    display: inline;
    font-family: 'Megrim', cursive;
}
  article p {
    color: black;
    text-align: center;
}
  body {
    font-family: 'Poiret One', cursive;
    text-align: center;
    line-height: 30px;
    letter-spacing: 2px; 
    margin: 0, auto;
}
  a {
    color: yellow;
    text-decoration: none;
    float: left;
    padding: 10px 15px;
    border-right: 1px solid #fff;
    font-size: 12px;
    font-family: 'Megrim', cursive;
    font-style: bold;
}
  header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.67);
    width: 100%;
    height: 45px;
}
  aside img {
    margin: 0 10px 10px 0;
    width: 400px;
}
  .hero img {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}
  footer {
    border: 1px black solid;
    padding: 10px;
}
  #wrapper {
    border: 5px white;
    width: 100%;
}
  a:hover {
    background-color: #aaaaaa;
}
  .clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0; 
}
  #left {
    padding: 10px;

}
  #right {
    border: 1px black solid;
    padding-bottom: 20px;
    margin: auto;
    width: 55%;

}
  #contact {
    width: 100%;
    text-align: center;
    float: left;
    height: 200px;
    background-color: rgba(51, 51, 51, 0.67);
}
  .column {
    top: 0;
    border: 5px;
    padding: 20px;
    margin: 0 10px 10px 0;
    width: 100%;
}
  #column1 {
    background-color: #AC54FF;
}
  #column2 {
    background-color: #5485FF;
}
  #column3 {
    background-color: #47FFF2;
}







