body{
	background: url(file:///Users/Drew/Desktop/retro-music-desktop-wallpaper.jpg);
	background-size: cover;
}
h1{
	color: yellow;
	background-color: grey;
	text-align: center;
	font-family: garamond;
	background: rgba(0,0,0,0.5);
}
p{
	color: yellow;
	text-align: center;
	font-family: garamond;
	background: rgba(0,0,0,0.5);
}
 	ul {
 	text-align: right;
    color: yellow;
    padding: 10px;
}
   li {
   	color: yellow;
    padding: 0px 10px 0px 10px;
  }
